Repository GM07/Drone-cartographer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, embedded, backend

frontend:
  stage: triggers
  trigger:
    include:
    - local: /frontend/.gitlab-ci.yml
    strategy: depend

embedded:
  stage: triggers
  trigger:
    include:
    - local: /embedded/.gitlab-ci.yml
    strategy: depend

backend:
  stage: triggers
  trigger:
    include:
    - local: /backend/.gitlab-ci.yml
    strategy: depend

Improvements to embedded code
  embedded/ServerStub.py
  embedded/embedded-firmware/src/app_main.cc
  embedded/embedded-firmware/src/firmware_controller.cc
  embedded/shared-firmware/include/components/drone.h
  embedded/shared-firmware/include/controllers/abstract_controller.h
  embedded/shared-firmware/include/controllers/firmware_controller.h
  embedded/shared-firmware/include/controllers/simulation_controller.h
  embedded/shared-firmware/src/commands_handler.cc
  embedded/shared-firmware/src/navigation_system.cc
  embedded/simulation/src/simulation_controller.cc
Due: embedded

Tests pass
  embedded/embedded-firmware/validate/src/app_main.test.cc
  embedded/embedded-firmware/validate/src/embedded_firmware.test.cc
  embedded/embedded-firmware/validate/src/mock_functions.cc
  embedded/embedded-firmware/validate/src/mock_functions.h
  embedded/shared-firmware/include/controllers/abstract_controller.h
  embedded/shared-firmware/include/controllers/firmware_controller.h
  embedded/shared-firmware/include/controllers/simulation_controller.h
  embedded/shared-firmware/include/utils/drone_data.h
  embedded/shared-firmware/validate/src/navigation_system.test.cc
  embedded/shared-firmware/validate/src/stubs/stub_firmware_controller.h
  embedded/shared-firmware/validate/src/stubs/stub_methods.cc
Due: embedded

Linting passed
  embedded/embedded-firmware/src/firmware_sensors.cc
Due: embedded

logs working
  backend/server.py
  backend/services/communication/abstract_comm.py
  backend/services/communication/bash_executor.py
  backend/services/communication/comm_crazyflie.py
  backend/services/communication/comm_tasks.py
  backend/services/communication/file_helper.py
  frontend/src/communication/server_constants.ts
  frontend/src/components/remote_command_output.vue
  frontend/src/views/mission.vue
Due: frontend, backend

fix pipeline embedded + compile simulation
  backend/services/communication/comm_simulation.py
  embedded/shared-firmware/include/utils/drone_data.h
Due: embedded, backend

Fixed merge issues
  backend/server.py
Due: backend

hotfix pourcentage batterie
  backend/services/data/drone_data.py
  frontend/src/views/mission.vue
Due: frontend, backend

fixing tests backend + github link of code editor
  backend/tests/test_comm_crazyflie.py
  frontend/src/components/code_editor/code_editor.vue
  frontend/src/components/code_editor/copy_code.vue
  frontend/src/components/code_editor/dropdown.vue
  frontend/src/components/editor.vue
  frontend/src/router/index.ts
  frontend/src/views/home.vue
  frontend/src/views/mission.vue
Due: frontend, backend

comments
  backend/constants.py
  backend/services/communication/abstract_comm.py
  backend/services/communication/bash_executor.py
  backend/services/communication/comm_simulation.py
  backend/services/communication/comm_tasks.py
  backend/services/communication/file_helper.py
  embedded/embedded-firmware/src/app_main.cc
  embedded/embedded-firmware/src/app_main.h
  embedded/embedded-firmware/src/firmware_controller.cc
  embedded/embedded-firmware/src/firmware_sensors.cc
  embedded/embedded-firmware/src/p2p_task.cc
  embedded/embedded-firmware/src/time.cc
  embedded/shared-firmware/include/components/crazyflie_task.h
  embedded/shared-firmware/include/components/drone.h
  embedded/shared-firmware/include/controllers/abstract_controller.h
  embedded/shared-firmware/include/controllers/controller_data.h
  embedded/shared-firmware/include/controllers/firmware_controller.h
  embedded/shared-firmware/include/controllers/simulation_controller.h
  embedded/shared-firmware/include/sensors/abstract_sensors.h
  embedded/shared-firmware/include/sensors/firmware_sensors.h
  embedded/shared-firmware/include/sensors/simulation_sensors.h
  embedded/shared-firmware/include/utils/commands.h
  embedded/shared-firmware/include/utils/directions.h
  embedded/shared-firmware/include/utils/drone_data.h
  embedded/shared-firmware/include/utils/led.h
  embedded/shared-firmware/include/utils/math.h
  embedded/shared-firmware/include/utils/state.h
  embedded/shared-firmware/include/utils/time.h
  embedded/shared-firmware/include/utils/vector3d.h
  embedded/shared-firmware/src/commands_handler.cc
  embedded/shared-firmware/src/communication_manager.cc
  embedded/shared-firmware/src/navigation_system.cc
  embedded/shared-firmware/src/sensors_data_updater.cc
  embedded/shared-firmware/src/vector3d.cc
  embedded/simulation/src/simulation_controller.cc
  embedded/simulation/src/simulation_sensors.cc
  frontend/package-lock.json
Due: frontend, embedded, backend

Fixed pipeline
  backend/services/data/drone_data.py
  backend/tests/test_server.py
  embedded/embedded-firmware/src/app_main.cc
  embedded/embedded-firmware/src/firmware_sensors.cc
  embedded/shared-firmware/include/components/drone.h
  embedded/shared-firmware/include/controllers/abstract_controller.h
  embedded/shared-firmware/include/utils/math.h
  embedded/shared-firmware/validate/src/commands_handler.test.cc
Due: embedded, backend

Retour a la base
  backend/constants.py
  backend/server.py
  backend/services/data/drone_data.py
  backend/tests/test_drone_data.py
  embedded/.vscode/settings.json
  embedded/ServerStub.py
  embedded/embedded-firmware/Makefile
  embedded/shared-firmware/include/components/drone.h
  embedded/shared-firmware/include/controllers/abstract_controller.h
  embedded/shared-firmware/include/controllers/firmware_controller.h
  embedded/shared-firmware/include/controllers/simulation_controller.h
  embedded/shared-firmware/include/utils/commands.h
  embedded/shared-firmware/include/utils/math.h
  embedded/shared-firmware/include/utils/shortcut_verifier.h
  embedded/shared-firmware/include/utils/state.h
  embedded/shared-firmware/include/utils/vector3d.h
  embedded/shared-firmware/src/commands_handler.cc
  embedded/shared-firmware/src/math.cc
  embedded/shared-firmware/src/navigation_system.cc
  embedded/shared-firmware/src/sensors_data_updater.cc
  embedded/shared-firmware/src/vector3d.cc
  embedded/shared-firmware/validate/src/sensors_data_updater.test.cc
  embedded/simulation/experiments/crazyflie_sensing.argos
Due: embedded, backend

Canvas pour chaque map, fix orientation et maps plus grandes
  backend/server.py
  backend/services/data/map.py
  frontend/src/communication/server_constants.ts
  frontend/src/components/map.vue
  frontend/src/views/mission.vue
Due: frontend, backend

Ajout rapport d'avancement
  rapport_avancement/rapport-hebdomadaire-11.pdf
Due: none

fix comments
  backend/services/communication/abstract_comm.py
  backend/services/communication/bash_executor.py
  backend/services/communication/comm_crazyflie.py
  backend/services/communication/file_helper.py
  embedded/embedded-firmware/src/app_main.cc
  embedded/embedded-firmware/src/app_main.h
  embedded/embedded-firmware/src/color_gradient.cc
  embedded/embedded-firmware/src/firmware_controller.cc
  embedded/embedded-firmware/src/firmware_sensors.cc
  embedded/embedded-firmware/src/p2p_task.cc
  embedded/embedded-firmware/src/time.cc
  embedded/shared-firmware/include/components/crazyflie_task.h
  embedded/shared-firmware/include/components/drone.h
  embedded/shared-firmware/include/controllers/abstract_controller.h
  embedded/shared-firmware/include/controllers/controller_data.h
  embedded/shared-firmware/include/controllers/firmware_controller.h
  embedded/shared-firmware/include/controllers/simulation_controller.h
  embedded/shared-firmware/include/sensors/abstract_sensors.h
  embedded/shared-firmware/include/sensors/firmware_sensors.h
  embedded/shared-firmware/include/sensors/simulation_sensors.h
  embedded/shared-firmware/include/utils/commands.h
  embedded/shared-firmware/include/utils/directions.h
  embedded/shared-firmware/include/utils/drone_data.h
  embedded/shared-firmware/include/utils/led.h
  embedded/shared-firmware/include/utils/math.h
  embedded/shared-firmware/include/utils/state.h
  embedded/shared-firmware/include/utils/time.h
  embedded/shared-firmware/include/utils/vector3d.h
  embedded/shared-firmware/src/commands_handler.cc
  embedded/shared-firmware/src/communication_manager.cc
  embedded/shared-firmware/src/navigation_system.cc
  embedded/shared-firmware/src/sensors_data_updater.cc
  embedded/shared-firmware/src/vector3d.cc
  embedded/simulation/src/simulation_controller.cc
  embedded/simulation/src/simulation_sensors.cc
  embedded/simulation/src/time.cc
Due: embedded, backend

Code review
  backend/services/communication/comm_simulation.py
  embedded/shared-firmware/include/utils/vector3d.h
  embedded/simulation/src/simulation_controller.cc
Due: embedded, backend

Fixed merge
  embedded/shared-firmware/include/controllers/abstract_controller.h
Due: embedded

Lint
  embedded/shared-firmware/include/utils/vector3d.h
Due: embedded

Encore plus de lint
  embedded/shared-firmware/include/utils/vector3d.h
Due: embedded

fix tests
  frontend/jest.config.js
  frontend/tsconfig.json
Due: frontend

Resolve comments
  embedded/embedded-firmware/src/firmware_controller.cc
  embedded/embedded-firmware/validate/src/mock_functions.h
  embedded/shared-firmware/include/components/drone.h
  embedded/shared-firmware/include/controllers/abstract_controller.h
  embedded/shared-firmware/include/controllers/firmware_controller.h
  embedded/shared-firmware/include/controllers/simulation_controller.h
  embedded/shared-firmware/include/utils/math.h
  embedded/shared-firmware/src/navigation_system.cc
  embedded/simulation/src/simulation_controller.cc
Due: embedded

Compiles
  embedded/embedded-firmware/src/app_main.cc
  embedded/shared-firmware/include/controllers/abstract_controller.h
  embedded/shared-firmware/include/controllers/firmware_controller.h
  embedded/shared-firmware/include/controllers/simulation_controller.h
  embedded/shared-firmware/src/math.cc
  embedded/shared-firmware/src/navigation_system.cc
Due: embedded

Rotates using function
  embedded/shared-firmware/src/navigation_system.cc
Due: embedded

Fixed master commands
  backend/services/communication/comm_crazyflie.py
  backend/services/communication/comm_simulation.py
Due: backend

Fixed master v2
  backend/tests/test_comm_crazyflie.py
Due: backend

Fixed master commands
  backend/services/communication/comm_crazyflie.py
  backend/services/communication/comm_simulation.py
  backend/tests/test_comm_crazyflie.py
Due: backend

change drone name
  backend/server.py
Due: backend

Commit temporaire
  embedded/ServerStub.py
  embedded/embedded-firmware/src/p2p_task.cc
  embedded/shared-firmware/include/controllers/abstract_controller.h
  embedded/shared-firmware/src/navigation_system.cc
  embedded/simulation/experiments/crazyflie_sensing.argos
  embedded/simulation/src/simulation_controller.cc
Due: embedded

Fixed battery
  embedded/simulation/src/simulation_sensors.cc
Due: embedded

temp
  embedded/embedded-firmware/src/firmware_controller.cc
  embedded/shared-firmware/include/components/drone.h
  embedded/shared-firmware/include/controllers/abstract_controller.h
  embedded/shared-firmware/include/controllers/firmware_controller.h
  embedded/shared-firmware/include/controllers/simulation_controller.h
  embedded/shared-firmware/include/utils/vector3d.h
  embedded/shared-firmware/src/navigation_system.cc
  embedded/simulation/src/simulation_controller.cc
Due: embedded

Fixed P2P with drone orientation
  embedded/embedded-firmware/src/p2p_task.cc
  embedded/shared-firmware/include/controllers/abstract_controller.h
  embedded/shared-firmware/include/utils/drone_data.h
  embedded/simulation/crazyflie/crazyflie_sensing.cpp
  embedded/simulation/src/simulation_controller.cc
Due: embedded

Ui cleanup
  embedded/.devcontainer/devcontainer.json
  frontend/src/assets/drone.svg
  frontend/src/components/drone_commands.vue
  frontend/src/components/drone_data_card.vue
  frontend/src/components/map.vue
  frontend/src/views/mission.vue
Due: frontend, embedded

Filtrage points
  backend/services/data/map.py
  frontend/package-lock.json
  frontend/src/components/map.vue
Due: frontend, backend

Fixed battery again
  backend/services/data/drone_data.py
  embedded/embedded-firmware/src/firmware_sensors.cc
  embedded/shared-firmware/include/controllers/abstract_controller.h
  embedded/simulation/src/simulation_sensors.cc
  frontend/src/components/drone_data_card.vue
Due: frontend, embedded, backend

Disable drone buttons
  frontend/src/components/drone_data_card.vue
  frontend/src/views/mission.vue
Due: frontend

Fixed test pipeline battery
  embedded/embedded-firmware/validate/src/firmware_sensors.test.cc
Due: embedded

cleanup pt2 section 1
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/drone_menu.vue
  frontend/src/views/mission.vue
Due: frontend

Ajout des maps dans la page historique
  backend/server.py
  backend/services/communication/abstract_comm.py
  backend/services/communication/comm_crazyflie.py
  backend/services/communication/comm_simulation.py
  backend/services/communication/database/mongo_interface.py
  backend/tests/test_server.py
  frontend/src/communication/server_communication.ts
  frontend/src/communication/server_constants.ts
  frontend/src/components/editor.vue
  frontend/src/components/map.vue
  frontend/src/components/mission_commands.vue
  frontend/src/utils/mission.ts
  frontend/src/views/completed_missions.vue
  frontend/src/views/mission.vue
  frontend/tests/unit/communication/server_communication.spec.ts
  frontend/tests/unit/components/mission_commands.spec.ts
  frontend/tests/unit/views/completed_missions.spec.ts
Due: frontend, backend

Return to base v2
  backend/services/data/map.py
  embedded/ServerStub.py
  embedded/embedded-firmware/Makefile
  embedded/embedded-firmware/src/firmware_controller.cc
  embedded/embedded-firmware/src/p2p_task.cc
  embedded/shared-firmware/include/components/drone.h
  embedded/shared-firmware/include/controllers/abstract_controller.h
  embedded/shared-firmware/include/controllers/firmware_controller.h
  embedded/shared-firmware/include/controllers/simulation_controller.h
  embedded/shared-firmware/include/utils/math.h
  embedded/shared-firmware/include/utils/potential_shortcut.h
  embedded/shared-firmware/include/utils/segment.h
  embedded/shared-firmware/include/utils/shortcut_verifier.h
  embedded/shared-firmware/include/utils/vector3d.h
  embedded/shared-firmware/src/math.cc
  embedded/shared-firmware/src/navigation_system.cc
  embedded/shared-firmware/src/potential_shortcut.cc
  embedded/shared-firmware/src/segment.cc
  embedded/shared-firmware/validate/src/stubs/stub_methods.cc
  embedded/simulation/crazyflie/crazyflie_sensing.cpp
  embedded/simulation/experiments/crazyflie_sensing.argos
  embedded/simulation/src/simulation_controller.cc
  frontend/src/components/map.vue
Due: frontend, embedded, backend

Resolution d'une division par 0 après le takeoff
  embedded/shared-firmware/src/vector3d.cc
Due: embedded

Path conditions:
  frontend: any of: frontend/**/*
  embedded: any of: embedded/**/*
  backend: any of: backend/**/*
