Repository GM07/Drone-cartographer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, embedded, backend

frontend:
  stage: triggers
  trigger:
    include:
    - local: /frontend/.gitlab-ci.yml
    strategy: depend

embedded:
  stage: triggers
  trigger:
    include:
    - local: /embedded/.gitlab-ci.yml
    strategy: depend

backend:
  stage: triggers
  trigger:
    include:
    - local: /backend/.gitlab-ci.yml
    strategy: depend

getting ready for mr
  backend/server.py
  backend/services/communication/database/mongo_interface.py
  frontend/src/communication/server_communication.ts
  frontend/src/communication/server_constants.ts
  frontend/src/utils/mission.ts
  frontend/src/views/completed_missions.vue
Due: frontend, backend

removed useless space
  backend/services/communication/database/mongo_interface.py
Due: backend

please work again
  backend/server.py
  backend/services/communication/comm_crazyflie.py
  backend/services/data/map.py
  embedded/shared-firmware/src/navigation_system.cc
Due: embedded, backend

removed unused variable
  frontend/src/views/completed_missions.vue
Due: frontend

Update frontend/src/views/mission.vue
  frontend/src/views/mission.vue
Due: frontend

fixed tests
  backend/services/communication/database/mongo_interface.py
  backend/tests/test_mongo_interface.py
Due: backend

Ajout d'un fichier de test pour le projet
  Tests.pdf
Due: none

Gevent exception handler
  backend/.vscode/launch.json
  backend/server.py
  backend/services/communication/abstract_comm.py
  backend/services/communication/comm_crazyflie.py
  backend/services/communication/comm_simulation.py
  backend/services/communication/comm_tasks.py
Due: backend

mr fix
  backend/tests/test_mongo_interface.py
Due: backend

Simulation and map have same orientation
  backend/services/communication/comm_simulation.py
  backend/services/communication/template.argos
Due: backend

Repaired Start Sh
  embedded/docker-compose.yml
  embedded/nvidia-docker/docker-compose.yml
Due: embedded

map
  backend/services/communication/comm_crazyflie.py
  backend/services/communication/comm_simulation.py
  backend/services/data/drone_data.py
  backend/services/data/map.py
Due: backend

prepush
  backend/services/communication/comm_crazyflie.py
  backend/services/data/drone_data.py
Due: backend

Changes
  embedded/embedded-firmware/src/firmware_controller.cc
  embedded/shared-firmware/include/components/drone.h
  embedded/shared-firmware/include/controllers/abstract_controller.h
  embedded/shared-firmware/include/controllers/firmware_controller.h
  embedded/shared-firmware/include/controllers/simulation_controller.h
  embedded/shared-firmware/src/navigation_system.cc
  embedded/simulation/src/simulation_controller.cc
Due: embedded

Tests pour le frontend
  frontend/.vscode/tasks.json
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/communication/server_communication.ts
  frontend/src/communication/server_constants.ts
  frontend/src/components/drone_commands.vue
  frontend/src/components/drone_menu.vue
  frontend/src/components/logs_interface.vue
  frontend/src/components/mission_commands.vue
  frontend/src/components/navigation_commands.vue
  frontend/src/store/index.ts
  frontend/src/views/completed_missions.vue
  frontend/src/views/mission.vue
  frontend/tests/unit/communication/server_communication.spec.ts
  frontend/tests/unit/communication/server_constants.spec.ts
  frontend/tests/unit/components/drone_commands.spec.ts
  frontend/tests/unit/components/drone_menu.spec.ts
  frontend/tests/unit/components/logs_interface.spec.ts
  frontend/tests/unit/components/mission_commands.spec.ts
  frontend/tests/unit/components/navigation_commands.spec.ts
  frontend/tests/unit/setutp_tests.ts
  frontend/tests/unit/store/index.spec.ts
  frontend/tests/unit/stubs/store_stub.ts
  frontend/tests/unit/views/completed_missions.spec.ts
  frontend/tests/unit/views/home.spec.ts
  frontend/tests/unit/views/mission.spec.ts
Due: frontend

Drone name can be invalid and still work in simulation
  backend/server.py
  backend/services/communication/abstract_comm.py
  backend/services/communication/comm_crazyflie.py
  backend/services/communication/comm_simulation.py
Due: backend

Statut du drone
  backend/server.py
  backend/services/communication/abstract_comm.py
  backend/services/communication/comm_crazyflie.py
  backend/services/communication/comm_simulation.py
  backend/services/communication/comm_tasks.py
  frontend/src/communication/drone.ts
  frontend/src/communication/server_constants.ts
  frontend/src/views/mission.vue
  frontend/tests/unit/views/mission.spec.ts
Due: frontend, backend

made mongo persistent
  database/.gitignore
  database/docker-compose.yml
Due: none

Backend tests
  backend/.devcontainer/Dockerfile
  backend/.devcontainer/devcontainer.json
  backend/constants.py
  backend/services/communication/comm_tasks.py
  backend/services/communication/database/mongo_interface.py
  backend/services/data/drone_data.py
  backend/tests/test_access_status.py
  backend/tests/test_byte_decoder.py
  backend/tests/test_comm_crazyflie.py
  backend/tests/test_comm_tasks.py
  backend/tests/test_drone.py
  backend/tests/test_drone_data.py
  backend/tests/test_mission_status.py
  backend/tests/test_mongo_interface.py
  backend/tests/test_simulation_configuration.py
  embedded/.devcontainer/devcontainer.json
Due: embedded, backend

fix logs
  backend/services/communication/comm_simulation.py
  frontend/package-lock.json
  frontend/src/components/logs_interface.vue
  frontend/src/views/completed_missions.vue
  frontend/src/views/mission.vue
  frontend/tests/unit/views/mission.spec.ts
Due: frontend, backend

Fix frontend pipeline
  frontend/.gitlab-ci.yml
Due: frontend

Declare droneState
  embedded/simulation/crazyflie/crazyflie_sensing.cpp
  embedded/simulation/validate/stubs/stub_argos.cc
Due: embedded

slight fix
  backend/services/communication/comm_crazyflie.py
Due: backend

Readme.md modifications
  README.md
Due: none

Updated readme
  README.md
Due: none

Update README.md
  README.md
Due: none

Added details to tests.pdf
  Tests.pdf
Due: none

Remise CDR
  remises/CDR_106.pdf
Due: none

rapport d'avancement 8
  rapport_avancement/rapport-hebdomadaire-8.pdf
Due: none

Reduction de la taille de l'exécutable de 50%
  embedded/embedded-firmware/src/firmware_controller.cc
Due: embedded

Backend pipline change
  backend/.gitlab-ci.yml
Due: backend

Added horizontal scroll to logs interface
  frontend/src/components/logs_interface.vue
  frontend/src/views/completed_missions.vue
  frontend/src/views/mission.vue
Due: frontend

fixed start.sh
  start.sh
Due: none

../
  backend/services/communication/byte_decoder.py
  backend/services/communication/comm_simulation.py
  backend/services/data/drone_data.py
  embedded/embedded-firmware/src/app_main.cc
  embedded/embedded-firmware/src/firmware_controller.cc
  embedded/embedded-firmware/src/firmware_sensors.cc
  embedded/embedded-firmware/src/timer.cc
  embedded/embedded-firmware/validate/src/embedded_firmware.test.cc
  embedded/embedded-firmware/validate/src/timer.test.cc
  embedded/shared-firmware/include/components/drone.h
  embedded/shared-firmware/include/controllers/abstract_controller.h
  embedded/shared-firmware/include/controllers/controller_data.h
  embedded/shared-firmware/include/controllers/firmware_controller.h
  embedded/shared-firmware/include/controllers/simulation_controller.h
  embedded/shared-firmware/include/sensors/simulation_sensors.h
  embedded/shared-firmware/include/utils/commands.h
  embedded/shared-firmware/include/utils/directions.h
  embedded/shared-firmware/include/utils/droneData.h
  embedded/shared-firmware/include/utils/drone_data.h
  embedded/shared-firmware/include/utils/math.h
  embedded/shared-firmware/include/utils/semaphore.h
  embedded/shared-firmware/include/utils/time.h
  embedded/shared-firmware/src/commands_handler.cc
  embedded/shared-firmware/src/communication_manager.cc
  embedded/shared-firmware/src/navigation_system.cc
  embedded/shared-firmware/src/semaphore.cc
  embedded/shared-firmware/src/sensors_data_updater.cc
  embedded/shared-firmware/src/vector3d.cc
  embedded/shared-firmware/validate/src/commands_handler.test.cc
  embedded/shared-firmware/validate/src/communication_manager.test.cc
  embedded/shared-firmware/validate/src/stubs/stub_firmware_controller.h
  embedded/shared-firmware/validate/src/stubs/stub_methods.cc
  embedded/simulation/crazyflie/crazyflie_sensing.cpp
  embedded/simulation/src/simulation_controller.cc
  embedded/simulation/src/simulation_sensors.cc
  embedded/simulation/src/timer.cc
Due: embedded, backend

Pipeline refactor backend
  backend/.gitlab-ci.yml
  backend/requirements.txt
Due: backend

Backend tests
  backend/.vscode/tasks.json
  backend/server.py
  backend/services/communication/comm_crazyflie.py
  backend/tests/test_byte_decoder.py
  backend/tests/test_server.py
Due: backend

recompile start
  backend/server.py
  backend/services/communication/abstract_comm.py
  embedded/embedded-firmware/src/app_main.cc
  frontend/src/communication/server_communication.ts
  frontend/src/communication/server_constants.ts
  frontend/src/components/navigation_commands.vue
Due: frontend, embedded, backend

Frontend pipeline fix
  frontend/.gitlab-ci.yml
Due: frontend

Path conditions:
  frontend: any of: frontend/**/*
  embedded: any of: embedded/**/*
  backend: any of: backend/**/*
