Repository GM07/Drone-cartographer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, embedded, backend

.gitlab-ci.yml:

stages:
- triggers

frontend:
  stage: triggers
  trigger:
    include: 
      - local: '/frontend/.gitlab-ci.yml'
    strategy: depend
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - frontend/**/*
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
        - frontend/**/*

embedded:
  stage: triggers
  trigger:
    include: 
      - local: '/embedded/.gitlab-ci.yml'
    strategy: depend
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - embedded/**/*
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
        - embedded/**/*

backend:
  stage: triggers
  trigger:
    include: 
      - local: '/backend/.gitlab-ci.yml'
    strategy: depend
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - backend/**/*
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
        - backend/**/*

merge master
  frontend/src/views/editor.vue
Due: frontend

frontend mr fixes
  backend/server.py
  backend/services/status/mission_status.py
  embedded/embedded-firmware/src/color_gradient.cc
  frontend/src/communication/mission_status.ts
  frontend/src/communication/server_communication.ts
  frontend/src/communication/server_constants.ts
  frontend/src/components/mission_commands.vue
  frontend/src/store/index.ts
Due: frontend, embedded, backend

Removed high level commander
  embedded/embedded-firmware/src/app_main.cc
  embedded/embedded-firmware/src/firmware_controller.cc
  embedded/shared-firmware/include/components/drone.h
  embedded/shared-firmware/src/commands_handler.cc
  embedded/shared-firmware/src/navigation_system.cc
Due: embedded

Fixed simulation message size
  embedded/simulation/src/simulation_controller.cc
Due: embedded

Takeoff and land to proper height
  embedded/embedded-firmware/src/firmware_controller.cc
  embedded/shared-firmware/include/components/drone.h
  embedded/shared-firmware/include/controllers/abstract_controller.h
  embedded/shared-firmware/include/controllers/firmware_controller.h
  embedded/shared-firmware/include/controllers/simulation_controller.h
  embedded/shared-firmware/src/navigation_system.cc
Due: embedded

Logic of return to base + wall jump working in simulation
  embedded/ServerStub.py
  embedded/embedded-firmware/src/firmware_controller.cc
  embedded/shared-firmware/include/components/drone.h
  embedded/shared-firmware/include/controllers/abstract_controller.h
  embedded/shared-firmware/include/controllers/firmware_controller.h
  embedded/shared-firmware/include/controllers/simulation_controller.h
  embedded/shared-firmware/include/utils/math.h
  embedded/shared-firmware/src/commands_handler.cc
  embedded/shared-firmware/src/navigation_system.cc
  embedded/shared-firmware/validate/src/vector3D.test.cc
  embedded/simulation/experiments/crazyflie_sensing.argos
  embedded/simulation/src/simulation_controller.cc
Due: embedded

Static tasks
  embedded/embedded-firmware/src/app_main.cc
  embedded/embedded-firmware/src/p2p_task.cc
  embedded/embedded-firmware/validate/src/app_main.test.cc
  embedded/embedded-firmware/validate/src/mock_functions.cc
  embedded/embedded-firmware/validate/src/mock_functions.h
Due: embedded

Goes over obstacle
  embedded/ServerStub.py
  embedded/embedded-firmware/src/app_main.cc
  embedded/embedded-firmware/src/firmware_controller.cc
  embedded/shared-firmware/include/controllers/abstract_controller.h
  embedded/shared-firmware/include/controllers/firmware_controller.h
  embedded/shared-firmware/include/controllers/simulation_controller.h
  embedded/shared-firmware/src/commands_handler.cc
  embedded/shared-firmware/src/navigation_system.cc
Due: embedded

Maps
  backend/server.py
  backend/services/communication/comm_simulation.py
  backend/services/data/map.py
  frontend/package-lock.json
  frontend/src/communication/server_constants.ts
  frontend/src/components/map.vue
  frontend/src/utils/map_constants.ts
  frontend/src/views/mission.vue
Due: frontend, backend

compilation + flash working
  backend/server.py
  backend/services/communication/file_helper.py
  embedded/shared-firmware/src/navigation_system.cc
  embedded/simulation/src/time.cc
  frontend/src/components/remote_command_output.vue
  frontend/src/views/editor.vue
Due: frontend, embedded, backend

refactoring
  backend/server.py
  backend/services/status/mission_status.py
  embedded/.devcontainer/devcontainer.json
  embedded/embedded-firmware/src/color_gradient.cc
  embedded/shared-firmware/include/components/crazyflie_task.h
  embedded/shared-firmware/src/commands_handler.cc
  frontend/src/communication/mission_status.ts
  frontend/src/communication/server_constants.ts
  frontend/src/components/mission_commands.vue
  frontend/src/store/index.ts
  frontend/src/views/mission.vue
Due: frontend, embedded, backend

Ajout support orientation drones sur cartes
  backend/services/communication/simulation_configuration.py
  frontend/src/components/map.vue
  frontend/src/utils/map_constants.ts
  frontend/src/views/mission.vue
Due: frontend, backend

fix parentheses
  embedded/ServerStub.py
  embedded/embedded-firmware/src/color_gradient.cc
  embedded/shared-firmware/include/components/drone.h
  embedded/shared-firmware/src/commands_handler.cc
Due: embedded

fixed clamp
  embedded/embedded-firmware/src/color_gradient.cc
Due: embedded

changed clamp to min
  embedded/embedded-firmware/src/color_gradient.cc
Due: embedded

added .at instead of []
  embedded/embedded-firmware/src/color_gradient.cc
Due: embedded

optimization + lint fixes
  embedded/embedded-firmware/src/color_gradient.cc
  embedded/shared-firmware/include/components/drone.h
Due: embedded

fixed backend tests
  backend/tests/test_server.py
Due: backend

lint fix
  backend/server.py
Due: backend

mr fixes
  embedded/embedded-firmware/src/color_gradient.cc
  embedded/embedded-firmware/validate/src/mock_functions.cc
  embedded/embedded-firmware/validate/src/mock_functions.h
  embedded/shared-firmware/src/commands_handler.cc
Due: embedded

change size_t to int
  embedded/embedded-firmware/src/color_gradient.cc
Due: embedded

tentatative fix
  embedded/embedded-firmware/src/color_gradient.cc
Due: embedded

Réparation du script de lancement de test
  start.sh
Due: none

changed new
  embedded/embedded-firmware/src/color_gradient.cc
Due: embedded

refactored send_log method in the backend
  backend/services/communication/abstract_comm.py
  backend/services/communication/comm_crazyflie.py
  backend/services/communication/comm_simulation.py
Due: backend

mr fixes
  embedded/embedded-firmware/src/color_gradient.cc
Due: embedded

Order properly drone data
  embedded/shared-firmware/include/utils/drone_data.h
Due: embedded

Drones go to height instantly
  embedded/embedded-firmware/src/app_main.cc
  embedded/shared-firmware/src/navigation_system.cc
  embedded/simulation/experiments/crazyflie_sensing.argos
Due: embedded

lint fix
  embedded/embedded-firmware/src/color_gradient.cc
Due: embedded

Fixed Wall Collision with orientation
  backend/.devcontainer/devcontainer.json
  backend/server.py
  backend/services/communication/abstract_comm.py
  backend/services/communication/comm_crazyflie.py
  backend/services/communication/comm_simulation.py
  backend/services/communication/simulation_configuration.py
  backend/services/data/simulation_wrappers.py
  backend/tests/test_comm_crazyflie.py
  embedded/ServerStub.py
  embedded/shared-firmware/include/components/drone.h
  embedded/shared-firmware/include/controllers/abstract_controller.h
  embedded/shared-firmware/include/utils/math.h
  embedded/shared-firmware/include/utils/vector3d.h
  embedded/shared-firmware/src/commands_handler.cc
  embedded/shared-firmware/src/communication_manager.cc
  embedded/shared-firmware/src/navigation_system.cc
  embedded/simulation/experiments/crazyflie_sensing.argos
  embedded/simulation/src/simulation_controller.cc
Due: embedded, backend

Code review
  backend/.devcontainer/devcontainer.json
  backend/services/communication/comm_simulation.py
  backend/services/data/simulation_wrappers.py
Due: backend

Refactored backend mission management
  backend/services/communication/abstract_comm.py
  backend/services/communication/comm_crazyflie.py
  backend/services/communication/comm_simulation.py
  backend/services/communication/database/mongo_interface.py
Due: backend

Fixed server with real drones
  backend/services/communication/comm_crazyflie.py
  embedded/embedded-firmware/src/app_main.cc
Due: embedded, backend

Embedded works
  embedded/ServerStub.py
  embedded/embedded-firmware/src/firmware_controller.cc
  embedded/shared-firmware/include/components/drone.h
  embedded/shared-firmware/include/controllers/abstract_controller.h
  embedded/shared-firmware/include/utils/math.h
  embedded/shared-firmware/src/navigation_system.cc
Due: embedded

files and terminal overflow fix
  frontend/src/communication/server_communication.ts
  frontend/src/components/editor.vue
  frontend/src/components/remote_command_output.vue
  frontend/src/router/index.ts
  frontend/src/views/mission.vue
Due: frontend

Fixed tests
  backend/tests/test_server.py
Due: backend

Batterie
  backend/server.py
  backend/services/communication/abstract_comm.py
  backend/services/communication/comm_crazyflie.py
  backend/services/communication/comm_simulation.py
  backend/services/communication/simulation_configuration.py
  backend/services/data/drone_data.py
  backend/services/data/starting_drone_data.py
  backend/tests/test_drone_data.py
  backend/tests/test_server.py
  backend/tests/test_simulation_configuration.py
  embedded/ServerStub.py
  embedded/embedded-firmware/src/firmware_sensors.cc
  embedded/embedded-firmware/validate/src/firmware_sensors.test.cc
  embedded/simulation/experiments/crazyflie_sensing.argos
  embedded/simulation/src/simulation_sensors.cc
  frontend/src/communication/drone.ts
  frontend/src/communication/server_communication.ts
  frontend/src/components/drone_menu.vue
  frontend/src/components/map.vue
  frontend/src/components/mission_commands.vue
  frontend/src/components/navigation_commands.vue
  frontend/src/views/mission.vue
  frontend/tests/unit/components/drone_menu.spec.ts
  frontend/tests/unit/views/mission.spec.ts
Due: frontend, embedded, backend

Made Florence happy
  embedded/shared-firmware/src/navigation_system.cc
  embedded/simulation/experiments/crazyflie_sensing.argos
Due: embedded
