Repository GM07/Drone-cartographer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, embedded, backend

frontend:
  stage: triggers
  trigger:
    include:
    - local: /frontend/.gitlab-ci.yml
    strategy: depend

embedded:
  stage: triggers
  trigger:
    include:
    - local: /embedded/.gitlab-ci.yml
    strategy: depend

backend:
  stage: triggers
  trigger:
    include:
    - local: /backend/.gitlab-ci.yml
    strategy: depend

Reverted changes to devcontainer
  embedded/.devcontainer/devcontainer.json
Due: embedded

Refactored
  embedded/embedded-firmware/Makefile
  embedded/embedded-firmware/src/app_main.cc
  embedded/embedded-firmware/src/p2p_task.cc
  embedded/shared-firmware/include/components/drone.h
  embedded/shared-firmware/include/controllers/firmware_controller.h
  embedded/shared-firmware/src/navigation_system.cc
Due: embedded

almost final version
  embedded/embedded-firmware/src/colorGradient.cc
Due: embedded

Reverted some changes
  embedded/shared-firmware/include/components/drone.h
Due: embedded

commented for tests
  embedded/ServerStub.py
  embedded/embedded-firmware/src/colorGradient.cc
Due: embedded

Fixed wall placement
  backend/services/communication/simulation_configuration.py
Due: backend

still testing
  embedded/embedded-firmware/src/colorGradient.cc
Due: embedded

almost working
  embedded/embedded-firmware/src/colorGradient.cc
Due: embedded

fix
  embedded/embedded-firmware/src/colorGradient.cc
Due: embedded

refactor
  embedded/embedded-firmware/src/colorGradient.cc
Due: embedded

modif backend
  backend/constants.py
  backend/server.py
  backend/services/status/mission_status.py
  embedded/embedded-firmware/src/colorGradient.cc
  embedded/shared-firmware/include/components/drone.h
  embedded/shared-firmware/include/utils/commands.h
  embedded/shared-firmware/src/commands_handler.cc
Due: embedded, backend

frontend changes
  backend/server.py
  backend/services/status/mission_status.py
  frontend/src/communication/mission_status.ts
  frontend/src/components/mission_commands.vue
Due: frontend, backend

added frontend and backend control methods and buttons
  backend/server.py
  frontend/src/communication/server_communication.ts
  frontend/src/communication/server_constants.ts
  frontend/src/components/mission_commands.vue
  frontend/src/store/index.ts
Due: frontend, backend

Adaptation mobile de la page historique
  frontend/src/views/completed_missions.vue
  frontend/tests/unit/views/completed_missions.spec.ts
Due: frontend

Exécution globale des tests
  README.md
  start.sh
Due: none

backend lint fixes
  backend/server.py
Due: backend

Realtime output
  backend/constants.py
  backend/server.py
  backend/services/communication/bash_executor.py
  embedded/simulation/src/simulation_controller.cc
  frontend/src/components/remote_command_output.vue
Due: frontend, embedded, backend

removed crashing devcontainer
  embedded/.devcontainer/devcontainer.json
Due: embedded

Test
  embedded/.devcontainer/devcontainer.json
  embedded/ServerStub.py
  embedded/embedded-firmware/src/firmware_controller.cc
  embedded/shared-firmware/include/controllers/abstract_controller.h
  embedded/shared-firmware/include/controllers/firmware_controller.h
  embedded/shared-firmware/include/utils/commands.h
  embedded/shared-firmware/include/utils/state.h
  embedded/shared-firmware/src/commands_handler.cc
  embedded/shared-firmware/src/navigation_system.cc
Due: embedded

Prevent crash on height change
  embedded/embedded-firmware/src/firmware_controller.cc
  embedded/shared-firmware/include/controllers/firmware_controller.h
  embedded/shared-firmware/src/navigation_system.cc
Due: embedded

fix bugs
  frontend/package-lock.json
  frontend/src/components/remote_command_output.vue
  frontend/src/views/editor.vue
Due: frontend

terminal working
  frontend/src/components/remote_command_output.vue
  frontend/src/views/editor.vue
Due: frontend

optimized code
  embedded/embedded-firmware/src/colorGradient.cc
Due: embedded

fixed tests
  embedded/embedded-firmware/validate/src/mock_functions.h
Due: embedded

further optimization
  embedded/embedded-firmware/src/colorGradient.cc
Due: embedded

more test fixes
  embedded/embedded-firmware/validate/src/mock_functions.cc
  embedded/embedded-firmware/validate/src/mock_functions.h
Due: embedded

ajout de v-if pour fairee disparaite le bouton si la mission est simulé
  frontend/src/components/mission_commands.vue
Due: frontend

test fix
  backend/tests/test_simulation_configuration.py
Due: backend

UI cleaner
  frontend/src/communication/server_communication.ts
  frontend/src/components/remote_command_output.vue
  frontend/src/views/editor.vue
Due: frontend

Fixed naming conventions for files and added color_gradient.cc to clang
  embedded/embedded-firmware/Makefile
  embedded/embedded-firmware/lint-pipeline/compile_commands.json
  embedded/embedded-firmware/lint-workspace/compile_commands.json
  embedded/embedded-firmware/src/color_gradient.cc
  embedded/shared-firmware/include/utils/drone_data.h
Due: embedded

Maintain height
  embedded/embedded-firmware/src/firmware_controller.cc
  embedded/shared-firmware/src/navigation_system.cc
Due: embedded

mr fixes
  embedded/embedded-firmware/src/color_gradient.cc
  embedded/shared-firmware/include/components/drone.h
  embedded/shared-firmware/include/utils/commands.h
  embedded/shared-firmware/src/commands_handler.cc
Due: embedded

optimized implementation
  embedded/embedded-firmware/src/color_gradient.cc
Due: embedded

added more constants
  embedded/embedded-firmware/src/color_gradient.cc
Due: embedded

Rapport hedomadaire 10
  rapport_avancement/rapport-hebdomadaire-10.pdf
Due: none

merge recompile
  frontend/src/views/editor.vue
Due: frontend

Path conditions:
  frontend: any of: frontend/**/*
  embedded: any of: embedded/**/*
  backend: any of: backend/**/*
