Repository GM07/Drone-cartographer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, embedded, backend

frontend:
  stage: triggers
  trigger:
    include:
    - local: /frontend/.gitlab-ci.yml
    strategy: depend

embedded:
  stage: triggers
  trigger:
    include:
    - local: /embedded/.gitlab-ci.yml
    strategy: depend

backend:
  stage: triggers
  trigger:
    include:
    - local: /backend/.gitlab-ci.yml
    strategy: depend

Mdi icon fix
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/app.vue
  frontend/src/plugins/vuetify.ts
Due: frontend

Refactored Simulation Firmware
  embedded/ServerStub.py
  embedded/shared-firmware/include/controllers/simulation_controller.h
  embedded/simulation/crazyflie/crazyflie_sensing.cpp
  embedded/simulation/crazyflie/crazyflie_sensing.h
  embedded/simulation/src/simulation_controller.cc
Due: embedded

Reverted some changes
  backend/services/communication/comm_simulation.py
Due: backend

Code review
  backend/services/data/drone_data.py
  backend/services/data/phys_drone_data.py
  embedded/.gitlab-ci.yml
  embedded/.vscode/tasks.json
  embedded/embedded-firmware/lint-pipeline/compile_commands.json
  embedded/embedded-firmware/lint-workspace/compile_commands.json
  embedded/embedded-firmware/src/firmware_controller.cc
  embedded/embedded-firmware/validate/src/app_main.test.cc
  embedded/shared-firmware/include/controllers/abstract_controller.h
  embedded/shared-firmware/include/controllers/controller_data.h
  embedded/shared-firmware/include/controllers/firmware_controller.h
  embedded/shared-firmware/include/controllers/simulation_controller.h
  embedded/shared-firmware/include/utils/commands.h
  embedded/shared-firmware/include/utils/drone_data.h
  embedded/shared-firmware/src/navigation_system.cc
  embedded/shared-firmware/src/vector3d.cc
  embedded/shared-firmware/validate/src/commands_handler.test.cc
  embedded/shared-firmware/validate/src/communication_manager.test.cc
  embedded/shared-firmware/validate/src/navigation_system.test.cc
  embedded/shared-firmware/validate/src/semaphore.test.cc
  embedded/shared-firmware/validate/src/sensors_data_updater.test.cc
  embedded/shared-firmware/validate/src/stubs/stub_firmware_controller.h
  embedded/shared-firmware/validate/src/stubs/stub_methods.cc
  embedded/simulation/src/simulation_controller.cc
Due: embedded, backend

Fixed a small issue
  embedded/embedded-firmware/lint-pipeline/compile_commands.json
Due: embedded

Bruh, the pipeline failed because of one invalid character..
  embedded/.gitlab-ci.yml
Due: embedded

Réparation du initialize command de embedded
  embedded/.devcontainer/devcontainer.json
Due: embedded

Renamed some files
  embedded/embedded-firmware/src/time.cc
  embedded/simulation/src/time.cc
Due: embedded

Fixed compilation
  embedded/embedded-firmware/Makefile
Due: embedded

Changed P2P to be in a task
  embedded/embedded-firmware/src/app_main.cc
  embedded/embedded-firmware/src/firmware_controller.cc
  embedded/shared-firmware/include/components/crazyflie_task.h
  embedded/shared-firmware/include/components/drone.h
  embedded/shared-firmware/include/controllers/simulation_controller.h
  embedded/shared-firmware/src/navigation_system.cc
  embedded/simulation/crazyflie/crazyflie_sensing.cpp
  embedded/simulation/crazyflie/crazyflie_sensing.h
  embedded/simulation/src/simulation_controller.cc
Due: embedded

Code review
  embedded/embedded-firmware/src/app_main.cc
  embedded/shared-firmware/include/components/drone.h
  embedded/shared-firmware/src/navigation_system.cc
  embedded/simulation/src/simulation_controller.cc
  embedded/simulation/src/simulation_sensors.cc
Due: embedded

editor part 1
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/app.vue
  frontend/src/assets/logo.png
  frontend/src/assets/logo.svg
  frontend/src/communication/access_status.ts
  frontend/src/communication/drone.ts
  frontend/src/communication/mission_status.ts
  frontend/src/communication/server_communication.ts
  frontend/src/communication/server_constants.ts
  frontend/src/components/code_editor/code_editor.vue
  frontend/src/components/code_editor/copy_code.vue
  frontend/src/components/code_editor/dropdown.vue
  frontend/src/components/drone_commands.vue
  frontend/src/components/drone_menu.vue
  frontend/src/components/file_editor.vue
  frontend/src/components/logs_interface.vue
  frontend/src/components/map.vue
  frontend/src/components/mission_commands.vue
  frontend/src/components/navigation_commands.vue
  frontend/src/main.ts
  frontend/src/plugins/vuetify.ts
  frontend/src/router/index.ts
  frontend/src/shims-tsx.d.ts
  frontend/src/shims-vue.d.ts
  frontend/src/shims-vuetify.d.ts
  frontend/src/store/index.ts
  frontend/src/utils/map_constants.ts
  frontend/src/utils/vec2d.ts
  frontend/src/views/editor.vue
  frontend/src/views/home.vue
  frontend/tsconfig.json
Due: frontend

Added drone orientation
  backend/services/communication/interface/drone.py
  backend/tests/test_drone.py
  frontend/src/communication/drone.ts
  frontend/src/components/drone_menu.vue
  frontend/tests/unit/views/mission.spec.ts
Due: frontend, backend

Refactor drone state
  embedded/embedded-firmware/src/app_main.cc
  embedded/shared-firmware/include/components/drone.h
  embedded/shared-firmware/src/navigation_system.cc
  embedded/shared-firmware/validate/src/stubs/stub_methods.cc
  embedded/simulation/crazyflie/crazyflie_sensing.cpp
Due: embedded

Transmission of stdout and stderr on socket
  backend/server.py
  backend/services/communication/abstract_comm.py
  backend/services/communication/comm_tasks.py
  embedded/embedded-firmware/src/app_main.cc
  frontend/src/communication/server_constants.ts
  frontend/src/components/navigation_commands.vue
  frontend/src/views/mission.vue
Due: frontend, embedded, backend

created Task
  embedded/ServerStub.py
  embedded/embedded-firmware/Makefile
  embedded/embedded-firmware/src/colorGradient.cc
  embedded/shared-firmware/include/components/ccommunication_manager.h
  embedded/shared-firmware/include/components/drone.h
  embedded/shared-firmware/src/navigation_system.cc
Due: embedded

command output displays commands
  backend/constants.py
  backend/server.py
  backend/services/communication/bash_executor.py
  backend/services/communication/comm_tasks.py
  embedded/CMakeLists.txt
  frontend/src/communication/server_constants.ts
  frontend/src/components/remote_command_output.vue
  frontend/src/views/mission.vue
Due: frontend, embedded, backend

Code Review
  embedded/embedded-firmware/src/firmware_controller.cc
  embedded/embedded-firmware/validate/src/embedded_firmware.test.cc
  embedded/shared-firmware/include/components/drone.h
  embedded/shared-firmware/include/controllers/abstract_controller.h
  embedded/shared-firmware/include/controllers/firmware_controller.h
  embedded/shared-firmware/include/controllers/simulation_controller.h
  embedded/shared-firmware/src/commands_handler.cc
  embedded/shared-firmware/validate/src/commands_handler.test.cc
  embedded/shared-firmware/validate/src/navigation_system.test.cc
  embedded/shared-firmware/validate/src/stubs/stub_firmware_controller.h
  embedded/shared-firmware/validate/src/stubs/stub_methods.cc
  embedded/simulation/src/simulation_controller.cc
Due: embedded

advancements
  embedded/embedded-firmware/src/colorGradient.cc
Due: embedded

Code review
  embedded/shared-firmware/include/components/drone.h
  embedded/shared-firmware/include/utils/math.h
Due: embedded

Fixed height
  frontend/src/components/remote_command_output.vue
Due: frontend

Rapport avancement
  rapport_avancement/rapport-hebdomadaire-9.pdf
Due: none

Code review
  embedded/shared-firmware/src/navigation_system.cc
Due: embedded

Flashing 1 drone works
  backend/server.py
  backend/services/communication/bash_executor.py
  frontend/src/communication/server_communication.ts
  frontend/src/communication/server_constants.ts
  frontend/src/components/remote_command_output.vue
  frontend/src/views/mission.vue
Due: frontend, backend

Flashing drones
  frontend/src/components/remote_command_output.vue
Due: frontend

mostly fixed
  embedded/embedded-firmware/src/colorGradient.cc
Due: embedded

editor working + file hierarchy
  backend/server.py
  backend/services/communication/file_reader.py
  frontend/src/communication/server_communication.ts
  frontend/src/components/code_editor/code_editor.vue
  frontend/src/views/editor.vue
Due: frontend, backend

changing colors
  backend/server.py
  frontend/src/components/code_editor/code_editor.vue
  frontend/src/views/editor.vue
Due: frontend, backend

change colors part 2
  frontend/src/views/editor.vue
Due: frontend

terminal
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/remote_command_output.vue
  frontend/src/views/editor.vue
Due: frontend

Le P2P set bien détecté
  embedded/embedded-firmware/src/app_main.cc
  embedded/shared-firmware/include/components/drone.h
  embedded/shared-firmware/src/navigation_system.cc
Due: embedded

terminal
  frontend/src/communication/server_communication.ts
  frontend/src/components/remote_command_output.vue
Due: frontend

Fix recompile
  frontend/src/components/remote_command_output.vue
  frontend/src/views/mission.vue
Due: frontend

Added drone orientation in simulation...
  backend/services/communication/simulation_configuration.py
  backend/tests/test_simulation_configuration.py
Due: backend

Fixed p2p task
  embedded/embedded-firmware/src/app_main.cc
  embedded/shared-firmware/include/components/drone.h
  embedded/shared-firmware/src/navigation_system.cc
Due: embedded

added scrollbar
  frontend/src/components/remote_command_output.vue
Due: frontend

Fixed pipeline
  embedded/embedded-firmware/validate/src/app_main.test.cc
  embedded/shared-firmware/validate/src/stubs/stub_methods.cc
  embedded/simulation/crazyflie/crazyflie_sensing.cpp
Due: embedded

Path conditions:
  frontend: any of: frontend/**/*
  embedded: any of: embedded/**/*
  backend: any of: backend/**/*
