Repository GM07/Drone-cartographer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, embedded, backend

.gitlab-ci.yml:

stages:
- triggers

frontend:
  stage: triggers
  trigger:
    include: 
      - local: '/frontend/.gitlab-ci.yml'
    strategy: depend
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - frontend/**/*
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
        - frontend/**/*

embedded:
  stage: triggers
  trigger:
    include: 
      - local: '/embedded/.gitlab-ci.yml'
    strategy: depend
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - embedded/**/*
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
        - embedded/**/*

backend:
  stage: triggers
  trigger:
    include: 
      - local: '/backend/.gitlab-ci.yml'
    strategy: depend
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - backend/**/*
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
        - backend/**/*

Update README.md
  README.md
Due: none

Increase distance safe shortcut
  embedded/shared-firmware/include/components/drone.h
Due: embedded

Added video to readme
  README.md
Due: none

Added R.F.17-18 video
  README.md
Due: none

Ajout de mise a jour des drones
  backend/server.py
  backend/tests/test_server.py
Due: backend

Ajout RR
  remises/RR_106.pdf
Due: none
