Repository GM07/Drone-cartographer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, embedded, backend

.gitlab-ci.yml:

stages:
- triggers

frontend:
  stage: triggers
  trigger:
    include: 
      - local: '/frontend/.gitlab-ci.yml'
    strategy: depend
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - frontend/**/*
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
        - frontend/**/*

embedded:
  stage: triggers
  trigger:
    include: 
      - local: '/embedded/.gitlab-ci.yml'
    strategy: depend
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - embedded/**/*
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
        - embedded/**/*

backend:
  stage: triggers
  trigger:
    include: 
      - local: '/backend/.gitlab-ci.yml'
    strategy: depend
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - backend/**/*
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
        - backend/**/*

removed v-spacer that added random lines2
  frontend/src/components/logs_interface.vue
  frontend/src/views/mission.vue
Due: frontend

Petit mini fix
  frontend/src/components/drone_menu.vue
Due: frontend

fixed affichage
  frontend/src/views/mission.vue
Due: frontend

Resolution de problemes avec embarque
  backend/server.py
  backend/services/communication/abstract_comm.py
  backend/services/communication/comm_crazyflie.py
  backend/services/communication/comm_simulation.py
  backend/services/communication/simulation_configuration.py
  frontend/src/communication/server_communication.ts
  frontend/src/communication/server_constants.ts
  frontend/src/components/drone_menu.vue
  frontend/src/components/mission_commands.vue
  frontend/src/components/navigation_commands.vue
  frontend/src/views/mission.vue
Due: frontend, backend

added const
  frontend/src/components/logs_interface.vue
Due: frontend

p2p real drone test
  embedded/embedded-firmware/src/app_main.cc
  embedded/embedded-firmware/src/firmware_controller.cc
  embedded/shared-firmware/include/components/drone.h
  embedded/shared-firmware/include/controllers/firmware_controller.h
Due: embedded

Ajout Test Embedded
  embedded/.vscode/settings.json
  embedded/.vscode/tasks.json
  embedded/embedded-firmware/src/app_main.cc
  embedded/embedded-firmware/src/app_main.h
  embedded/embedded-firmware/validate/.gitignore
  embedded/embedded-firmware/validate/CMakeLists.txt
  embedded/embedded-firmware/validate/src/app_main.test.cc
  embedded/embedded-firmware/validate/src/embedded_firmware.test.cc
  embedded/embedded-firmware/validate/src/firmware_sensors.test.cc
  embedded/embedded-firmware/validate/src/mock_functions.cc
  embedded/embedded-firmware/validate/src/mock_functions.h
  embedded/embedded-firmware/validate/src/stub_firmware_sensors.h
  embedded/shared-firmware/include/controllers/abstract_controller.h
Due: embedded

Envoie des donnees du drone phys
  backend/server.py
  backend/services/communication/comm_crazyflie.py
  backend/services/data/phys_drone_data.py
Due: backend

Cleanup
  backend/server.py
  backend/services/communication/comm_crazyflie.py
Due: backend

Cleanup
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/map.vue
Due: frontend

yapf modification
  backend/constants.py
Due: backend

modified emit
  backend/server.py
  backend/services/communication/abstract_comm.py
Due: backend

added constant
  backend/services/communication/comm_simulation.py
Due: backend

mr fixes
  backend/server.py
Due: backend

To pull from master
  backend/.vscode/launch.json
  backend/server.py
  backend/services/communication/comm_crazyflie.py
  backend/services/communication/comm_simulation.py
  backend/services/communication/crazyflie_sensing.argos
  backend/services/data/phys_drone_data.py
  frontend/src/components/map.vue
Due: frontend, backend

Placement aléatoires de murs
  backend/server.py
  backend/services/communication/docker_exec.sh
  backend/services/communication/simulation_configuration.py
  embedded/.devcontainer/devcontainer.json
Due: embedded, backend

P2P should work
  embedded/ServerStub.py
  embedded/embedded-firmware/src/app_main.cc
  embedded/embedded-firmware/src/firmware_controller.cc
  embedded/shared-firmware/include/components/drone.h
  embedded/shared-firmware/include/controllers/firmware_controller.h
  embedded/shared-firmware/src/navigation_system.cc
  embedded/simulation/experiments/crazyflie_sensing.argos
Due: embedded

Sim drone
  embedded/ServerStub.py
Due: embedded

P2P rssi testing setup
  embedded/embedded-firmware/src/app_main.cc
  embedded/shared-firmware/include/components/drone.h
Due: embedded

fix merge issue
  embedded/shared-firmware/include/components/drone.h
  embedded/shared-firmware/include/utils/vector3d.h
  embedded/shared-firmware/src/navigation_system.cc
Due: embedded

Lint pass for simulation
  embedded/.vscode/settings.json
  embedded/embedded-firmware/src/firmware_controller.cc
  embedded/shared-firmware/include/components/drone.h
  embedded/shared-firmware/include/controllers/abstract_controller.h
  embedded/shared-firmware/include/controllers/firmware_controller.h
  embedded/shared-firmware/include/controllers/simulation_controller.h
  embedded/shared-firmware/include/utils/droneData.h
  embedded/shared-firmware/src/navigation_system.cc
  embedded/shared-firmware/src/vector3d.cc
  embedded/simulation/src/simulation_controller.cc
Due: embedded

what the hell
  backend/server.py
  backend/services/communication/comm_crazyflie.py
  backend/services/communication/comm_simulation.py
  backend/services/data/drone_data.py
  backend/services/data/map.py
Due: backend

Les drones sont sync a l'interface
  backend/server.py
  frontend/src/communication/server_communication.ts
  frontend/src/views/mission.vue
Due: frontend, backend

Lint passing
  embedded/.devcontainer/devcontainer.json
  embedded/embedded-firmware/src/app_main.cc
  embedded/embedded-firmware/src/firmware_controller.cc
  embedded/shared-firmware/include/controllers/firmware_controller.h
Due: embedded

Logs
  backend/constants.py
  backend/docker-compose.yml
  backend/server.py
  backend/services/communication/abstract_comm.py
  backend/services/communication/comm_crazyflie.py
  backend/services/communication/comm_simulation.py
  backend/services/communication/database/mongo_interface.py
  backend/services/data/drone_data.py
  frontend/src/communication/server_constants.ts
  frontend/src/components/logs_interface.vue
  frontend/src/utils/mission.ts
  frontend/src/views/mission.vue
Due: frontend, backend

server
  backend/server.py
  backend/services/communication/comm_crazyflie.py
  backend/services/communication/comm_simulation.py
  backend/services/data/map.py
  embedded/ServerStub.py
Due: embedded, backend

datra
  backend/services/data/map.py
Due: backend

data fix
  backend/services/data/map.py
Due: backend

problem
  backend/server.py
  backend/services/communication/comm_simulation.py
  backend/services/data/map.py
Due: backend

Fixed pipeline
  embedded/embedded-firmware/validate/src/mock_functions.cc
  embedded/embedded-firmware/validate/src/mock_functions.h
  embedded/shared-firmware/validate/src/stubs/stub_firmware_controller.h
  embedded/shared-firmware/validate/src/stubs/stub_methods.cc
  embedded/simulation/validate/stubs/stub_argos.cc
Due: embedded

Enleve app.vue
  frontend/src/app.vue
Due: frontend

fix weird stuff
  backend/server.py
  backend/services/communication/comm_crazyflie.py
  backend/services/communication/comm_simulation.py
  backend/services/data/map.py
Due: backend

Fix du bouton delete a l'interface
  frontend/src/views/mission.vue
Due: frontend

merge master final
  frontend/src/views/mission.vue
Due: frontend

multiple maps
  backend/services/communication/comm_crazyflie.py
  backend/services/communication/comm_simulation.py
  backend/services/communication/template.argos
  backend/services/data/map.py
Due: backend

Tested in embedded
  embedded/ServerStub.py
  embedded/shared-firmware/include/components/drone.h
  embedded/shared-firmware/src/navigation_system.cc
Due: embedded

alexis
  backend/server.py
  backend/services/communication/comm_crazyflie.py
  backend/services/data/drone_data.py
  backend/services/data/map.py
Due: backend

test
  backend/services/communication/abstract_comm.py
  backend/services/communication/comm_crazyflie.py
  embedded/shared-firmware/src/navigation_system.cc
Due: embedded, backend

please work
  backend/services/communication/abstract_comm.py
  backend/services/communication/comm_crazyflie.py
  backend/services/communication/comm_simulation.py
Due: backend
