Repository GM07/Drone-cartographer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, embedded, backend

.gitlab-ci.yml:

stages:
- triggers

frontend:
  stage: triggers
  trigger:
    include: 
      - local: '/frontend/.gitlab-ci.yml'
    strategy: depend
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - frontend/**/*
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
        - frontend/**/*

embedded:
  stage: triggers
  trigger:
    include: 
      - local: '/embedded/.gitlab-ci.yml'
    strategy: depend
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - embedded/**/*
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
        - embedded/**/*

backend:
  stage: triggers
  trigger:
    include: 
      - local: '/backend/.gitlab-ci.yml'
    strategy: depend
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - backend/**/*
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
        - backend/**/*

Backend removed possibility of thread crashing
  backend/services/communication/database/mongo_interface.py
Due: backend

Realigned Bytes
  backend/services/communication/comm_crazyflie.py
  backend/services/communication/comm_simulation.py
  embedded/shared-firmware/src/communication_manager.cc
Due: embedded, backend

Removed comment
  backend/services/communication/comm_crazyflie.py
Due: backend

Fixed embedded
  backend/services/communication/comm_crazyflie.py
Due: backend

fix bugs
  frontend/src/components/drone_data_card.vue
  frontend/src/components/drone_menu.vue
Due: frontend

Ajout de quelques tests embarque
  embedded/shared-firmware/include/components/drone.h
  embedded/shared-firmware/include/controllers/abstract_controller.h
  embedded/shared-firmware/src/navigation_system.cc
  embedded/shared-firmware/src/sensors_data_updater.cc
  embedded/shared-firmware/validate/src/commands_handler.test.cc
  embedded/shared-firmware/validate/src/navigation_system.test.cc
  embedded/shared-firmware/validate/src/sensors_data_updater.test.cc
  embedded/shared-firmware/validate/src/stubs/stub_firmware_controller.h
  embedded/shared-firmware/validate/src/vector3D.test.cc
Due: embedded

fix tests
  frontend/src/components/drone_menu.vue
  frontend/tests/unit/components/drone_menu.spec.ts
Due: frontend

Tests backend pour le fichier FileHelper dans backend
  backend/tests/test_file_helper.py
Due: backend

Fixed battery
  backend/services/communication/comm_crazyflie.py
  backend/services/data/drone_data.py
  embedded/embedded-firmware/src/app_main.cc
  embedded/embedded-firmware/src/firmware_controller.cc
  embedded/embedded-firmware/src/firmware_sensors.cc
  embedded/embedded-firmware/validate/src/embedded_firmware.test.cc
  embedded/embedded-firmware/validate/src/firmware_sensors.test.cc
  embedded/embedded-firmware/validate/src/stub_firmware_sensors.h
  embedded/shared-firmware/include/controllers/abstract_controller.h
  embedded/shared-firmware/include/sensors/abstract_sensors.h
  embedded/shared-firmware/include/sensors/firmware_sensors.h
  embedded/shared-firmware/include/sensors/simulation_sensors.h
  embedded/simulation/src/simulation_controller.cc
  embedded/simulation/src/simulation_sensors.cc
  embedded/simulation/validate/stubs/stub_simulation_sensors.h
Due: embedded, backend

Reverted some changes
  backend/services/communication/comm_crazyflie.py
Due: backend

Ajout tests StartingDroneData
  backend/services/data/starting_drone_data.py
  backend/tests/test_starting_drone_data.py
Due: backend

Fixed tests
  embedded/embedded-firmware/validate/src/firmware_sensors.test.cc
  embedded/embedded-firmware/validate/src/stub_firmware_sensors.h
  embedded/simulation/validate/stubs/stub_simulation_sensors.h
Due: embedded

Fixed tests
  embedded/shared-firmware/validate/src/navigation_system.test.cc
Due: embedded

Mongo fix
  backend/services/communication/comm_crazyflie.py
  backend/services/communication/database/mongo_interface.py
Due: backend

Tests frontend
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/drone_data_card.vue
  frontend/src/components/file_editor.vue
  frontend/src/components/map.vue
  frontend/src/main.ts
  frontend/src/views/mission.vue
  frontend/tests/unit/communication/server_communication.spec.ts
  frontend/tests/unit/components/drone_commands.spec.ts
  frontend/tests/unit/components/drone_data_card.spec.ts
  frontend/tests/unit/components/editor.spec.ts
  frontend/tests/unit/components/map.spec.ts
  frontend/tests/unit/components/mission_commands.spec.ts
  frontend/tests/unit/components/navigation_commands.spec.ts
  frontend/tests/unit/components/remote_command_output.spec.ts
  frontend/tests/unit/setutp_tests.ts
  frontend/tests/unit/stubs/tree_node_stub.ts
  frontend/tests/unit/utils/vec2d.spec.ts
  frontend/tests/unit/views/completed_missions.spec.ts
  frontend/tests/unit/views/mission.spec.ts
Due: frontend

Ajout du fichier tests.pdf
  Tests.pdf
Due: none

Delete classe inutile PhysDroneData
  backend/services/data/phys_drone_data.py
Due: backend

Elimination de la possibilité de flah les drones pendant une mission
  backend/server.py
Due: backend

Fixed css with @nilege
  frontend/src/components/editor.vue
  frontend/src/views/completed_missions.vue
Due: frontend

Fixed distance calculation
  backend/services/communication/comm_crazyflie.py
  backend/services/communication/comm_simulation.py
  backend/services/communication/database/mongo_interface.py
Due: backend

first set of random bug fixes
  backend/server.py
  backend/services/communication/database/mongo_interface.py
  frontend/src/components/drone_menu.vue
  frontend/src/components/mission_commands.vue
  frontend/tests/unit/views/mission.spec.ts
Due: frontend, backend

I don't understand ;-;
  embedded/.vscode/launch.json
  embedded/CMakeLists.txt
  embedded/ServerStub.py
  embedded/embedded-firmware/src/firmware_controller.cc
  embedded/embedded-firmware/src/firmware_sensors.cc
  embedded/shared-firmware/include/components/drone.h
  embedded/shared-firmware/include/controllers/abstract_controller.h
  embedded/shared-firmware/src/navigation_system.cc
  embedded/simulation/experiments/crazyflie_sensing.argos
  embedded/simulation/src/simulation_controller.cc
Due: embedded

Reverted some files
  embedded/.vscode/launch.json
  embedded/CMakeLists.txt
Due: embedded

Fixed pipeline
  embedded/embedded-firmware/validate/src/embedded_firmware.test.cc
  embedded/simulation/src/simulation_controller.cc
  embedded/simulation/validate/src/simulation_controller.test.cc
Due: embedded

Removed function
  embedded/simulation/src/simulation_controller.cc
Due: embedded

Fixed start.sh
  embedded/.devcontainer/devcontainer.json
  embedded/a.out
  embedded/docker-compose.yml
  embedded/nvidia-docker/docker-compose.yml
Due: embedded

Fix bug position drones
  frontend/src/components/drone_menu.vue
Due: frontend

Removed unused file
  embedded/a.out
Due: embedded

Fixed code editor with start sh
  backend/docker-compose.yml
Due: backend

Fixed flashing with start sh
  backend/constants.py
  backend/server.py
Due: backend

Fixed bonus \n
  backend/services/communication/file_helper.py
Due: backend

Improve log ui
  backend/services/communication/comm_crazyflie.py
  frontend/src/components/logs_interface.vue
  frontend/tests/unit/components/logs_interface.spec.ts
Due: frontend, backend

Fixed Map Data When Drone is Idle
  backend/services/communication/comm_crazyflie.py
Due: backend

Updated Stack Size and Reenable return to base under 30 percent
  embedded/embedded-firmware/src/app_main.cc
  embedded/shared-firmware/src/navigation_system.cc
Due: embedded

Prevent multiple compilations
  backend/services/communication/bash_executor.py
Due: backend

videos links
  README.md
Due: none

Tests backend
  backend/server.py
  backend/services/communication/abstract_comm.py
  backend/services/communication/bash_executor.py
  backend/services/communication/comm_simulation.py
  backend/services/communication/comm_tasks.py
  backend/services/communication/database/mongo_interface.py
  backend/tests/test_abstract_comm.py
  backend/tests/test_bash_executor.py
  backend/tests/test_comm_crazyflie.py
  backend/tests/test_comm_simulation.py
  backend/tests/test_comm_tasks.py
  backend/tests/test_drone_data.py
  backend/tests/test_map.py
  backend/tests/test_mission_status.py
  backend/tests/test_mongo_interface.py
  backend/tests/test_server.py
  backend/tests/test_starting_drone_data.py
Due: backend

Fixed multiple flashes bugs
  backend/server.py
  backend/tests/test_server.py
Due: backend

P2P gradient fix
  backend/services/status/mission_status.py
  embedded/shared-firmware/src/navigation_system.cc
Due: embedded, backend

Removed DeadCode and removed capital letter
  frontend/src/views/completed_missions.vue
Due: frontend
